* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

nav {
    height: 65px;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 0 12px;
}

.container {
    height: 62vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 24px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.brand-logo img {
    width: 50px;
    margin: 5px 5px;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom {
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

.songItemContainer {
    margin-top: 40px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}

.songItem img {
    width: 40px;
    margin: 0 12px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 12px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media (min-width: 240px) and (max-width: 600px) {
    #masterSongName {
        display: none;
    }

    .container {
        padding: 18px;
    }

    .songList h1 {
        font-size: 16px;
    }

    .timestamp {
        font-size: 13px;
    }

    .songName {
        font-size: 13px;
    }

    .songItemContainer {
        margin-top: 10px;
    }
}